<div
  style="
    background-color: aqua;
    width: 100vw;
    text-align: right;
    padding: 1rem;
    margin: 0%;
  "
>
  <button
    style="
      margin-right: 3rem;
      background-color: red;
      padding: 0.3rem;
      border-radius: 5px;
    "
  >
    <a
      href="http://localhost:3000/api/v1/login"
      style="text-decoration: none; color: #fff"
      >Logout</a
    >
  </button>
</div>
