<div
  style="
    background-color: rgb(56, 157, 157);
    width: 100vw;
    text-align: right;
    padding: 1rem;
    margin: -50%;
    margin-top: -60%;
  "
>
  <button
    style="
      margin-right: 3rem;
      background-color: rgb(37, 234, 201);
      padding: 0.3rem;
      border-radius: 5px;
      text-emphasis-color: black;
    "
  >
    <a
      href="/api/v1/search/mysearch"
      style="text-decoration: none; color: rgb(9, 7, 7)"
      >my Search</a
    >
  </button>
  <button
    style="
      margin-right: 3rem;
      background-color: rgb(209, 120, 120);
      padding: 0.3rem;
      border-radius: 5px;
      text-emphasis-color: black;
    "
  >
    <a href="../login" style="text-decoration: none; color: rgb(9, 7, 7)"
      >Logout</a
    >
  </button>
</div>
