<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main">
      <h1>Sign Up</h1>
      <form action="/register" method="POST">
        <input type="name" name="name" placeholder="My Name" />
        <input
          type="mobile_no"
          name="mobile_no"
          placeholder="Enter contact no"
        />
        <input type="email" name="email" placeholder="Enter Email" />
        <input type="password" name="password" placeholder="* * * * * *" />
        <input
          type="confirmpassword"
          name="confirmpassword"
          placeholder="* * * * * *"
        />
        <button>Sign In</button>
      </form>
    </div>
  </body>
</html>
