<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="http://font.googleapis.com" />
    <link rel="preconnect" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Stock Search</title>
  </head>
  <body>
    <h1>Search Stock</h1>
    <form>
      <input type="text" size="30" onkeyup="showResult(this.value)" />
      <div id="stocksearch" class="hide">This</div>
    </form>
    <script src="script.js"></script>
  </body>
</html>
